{% extends 'base.html' %}

{% block head_title%}
Edit Item || {{block.super}}
{% endblock%}

{% block content %}
<h5>Item ID : {{object.id}}</h5>
<form method="post" novalidate>
    {% csrf_token %}
    {% include 'snippets/tweak_form.html' with form=form %}
    <input type="submit" class="btn btn-primary" value="Update">
</form>
    <a href="/detail/{{object.id}}/delete">
        <input type="button" class="btn btn-danger" value="Delete">
    </a>
<a href="/detail/{{object.id}}"><input type="button" class="btn btn-outline-primary" value="Back"></a>
{% endblock %}